<div class="container ">
    <div class="card mt-3 p-3 bg-card">
      <div class="row">
        <div class="col bg-card">
          <h2 class="text-center">Create New FORM</h2>
        </div>
      </div>
      <div class="row mt-3 bg-card">
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="packagePB" placeholder="First Name" type="text" value="{{dataService.funkyData.myname}}">
        </div>
        <!-- <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newlName" placeholder="Last Name">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newDate" type="date" placeholder="Appointment Date">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newEmail" placeholder="carlos@funkyrobot.ca">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newPhone" placeholder="(416) 832-3546">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newAddress" placeholder="800 Elms St.">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newCity" placeholder="Burlington">
        </div>
        <div class="col-md-2">
          <input class="form-control" [(ngModel)]="newCost" placeholder="350">
        </div>
        <div class="col-md-12">
          <input class="form-control" [(ngModel)]="newNote" placeholder="Just a Note...">
        </div>
        <div class="col-md-12">
          <input class="form-control" [(ngModel)]="newService" placeholder="Package Details">
        </div> -->
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="addQuote()">ADD</button>
          </div>
      </div>
    </div>