
   
   <div class="container">
    <div class="card mt-1 p-3 bg-card">
        <div class="row ">
            
            <div class="col-lg-2"><img class="logo" src="images/new-customer.png"></div>
            <div class="col-lg-4"><h2 class="">Create New Customer</h2></div>
            <div class="col-lg-2"><img class="logo" src="images/funky-l.png"></div>
            
            
        </div>
    
<div class="row mt-3 bg-card">

     <div class="col-md-2">
        <label>First Name</label>
       <input class="form-control" [(ngModel)]="newfName" placeholder="First Name" type="text" value="{{dataService.funkyData.myname}}">
     </div>
     <div class="col-md-2">
        <label>Last Name</label>
       <input class="form-control" [(ngModel)]="newlName" placeholder="First Name" type="text" value="{{dataService.funkyData.myname}}">
     </div>
     <div class="col-md-2">
        <label>Company Name</label>
       <input class="form-control" [(ngModel)]="newCompany" placeholder="Last Name">
     </div>

     <div class="col-md-2"><label>Event Type:</label>
        <select class="form-control" [(ngModel)]="newEvent">
            <option>Wedding</option>
            <option>Birthday</option>
            <option>Holiday Party</option>
            <option>Family/Religious Event</option>
            <option>BBQ/Picnic</option>
            <option>Office Party</option>
            <option>Grand Opening</option>
            <option>Customer Appreciation</option>
            <option>Awards Ceremony</option>
          </select>
      </div>

     <div class="col-md-2">
        <label>Date</label>
       <input class="form-control" [(ngModel)]="newDate" type="date" placeholder="Appointment Date">
     </div>
     <div class="col-md-2">
        <label>Email</label>
       <input class="form-control" [(ngModel)]="newEmail" placeholder="carlos@funkyrobot.ca">
     </div>
     <div class="col-md-2">
        <label>Phone</label>
       <input class="form-control" [(ngModel)]="newPhone" placeholder="(416) 832-3546">
     </div>
     <div class="col-md-2">
        <label>Venue Name:</label>
       <input class="form-control" [(ngModel)]="newVenueName" placeholder="800 Elms St.">
     </div>
     <div class="col-md-2">
        <label>Venue Address:</label>
       <input class="form-control" [(ngModel)]="newVenueAddress" placeholder="800 Elms St.">
     </div>
     
     <div class="col-md-2">
        <label>Venue City:</label>
       <input class="form-control" [(ngModel)]="newVenueCity" placeholder="Burlington, Ontario">
     </div>
     <div class="col-md-2">
        <label>Indoor or Outdoor?</label>
       <input class="form-control" [(ngModel)]="newIndoor" placeholder="750">
     </div>
              
     <div class="col-md-4"><label>Service:</label>
      <select class="form-control" [(ngModel)]="newService">
        <option>DJ Service</option>
        <option>Photo Booth</option>
        <option>DJ & Photo Booth Combo</option>
        
        </select>
    </div>

    

    <div class="col-md-4">
      <label>Time Start:</label>
     <input class="form-control" [(ngModel)]="newTimeStart" type="time" >
    </div>
    <div class="col-md-4">
        <label>Time End:</label>
       <input class="form-control" [(ngModel)]="newTimeEnd" type="time" >
      </div>

      <div class="col-md-12">
        <label>Details</label>
       <input class="form-control" [(ngModel)]="newDetails01">
      </div>

     <div class="col-md-12">
        <label>Note</label>
       <input class="form-control" [(ngModel)]="newNote" placeholder="Just a Note...">
     </div>


     <div class="col-md-2">
       <button class="btn btn-primary" (click)="addCustomer()">ADD</button>
       </div>
   </div>
 </div>

 
 <div class="container card mt-2">
   <table class="mt-2 mb-2">
     <ul class="list-group mt-3">
       <tr>
         <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let customer of customers; index as i">
           
          
               
                 
            <td>{{customer.fName}}</td> 
            <td>{{customer.lName}} </td>  
            <td>{{customer.company}}</td>  
            <td>{{customer.email}}</td> 
            <td>{{customer.date}}</td> 
            <td>{{customer.phone}}</td> 
            <td>{{customer.balance}}</td>
            <td>{{customer.cost}}</td>
           <button class="btn btn-danger" (click)="deleteCustomer(i)">DELETE</button>
           <button class="btn btn-primary" (click)="generatePDF2($event.target,i)">PDF</button>
       
 </li>
       </tr>
   </ul>
   </table>
 </div>
</div>






