
  <div class="container ">
    <div class="card mt-3 p-3 bg-card">
      <div class="row">
        <div class="col bg-card">
          <h2 class="text-center">Create Photo Booth Quote</h2>
        </div>
      </div>
      <div class="row mt-3 bg-card">
        <div class="col-md-2"><label>Hours Needed?</label>
          <input class="form-control" [(ngModel)]="hoursPBx" name="hoursPB" type="number" value="5">
        </div>
  
        <div class="col-md-2"><label>Props?</label>
          <select class="form-control" [(ngModel)]="propsPBx" name="newPBProp">
            <option *ngFor="let prop of props">
              <p>
                {{prop.nameProp}} ({{prop.pricePropAll | currency : '$' : "symbol" : '1.0-0' }})
              </p>
              <img width="50%" class="logo-head" [src]="'https://back.funkyrobot.ca/public/'">
            </option>
            
            
          </select>
  
        </div>
  
        <div class="col-md-2"><label>Backdrop?</label>
          <select class="form-control" [(ngModel)]="backdropPBx" name="backdropPB">
            <option>Silver</option>
            <option>White</option>
            <option>Gold</option>
            <!-- <option>Red</option>
              <option>Custom</option>
              <option>None (Outdoors)</option> -->
  
          </select>
        </div>
        <div class="col-md-2"><label>Prints or Digital?</label>
          <select class="form-control" [(ngModel)]="printsPBx" name="printsPB">
            <option>Digital Only</option>
            <option>Single Print</option>
            <option>Double Print</option>
            <option>Print Per Guest</option>
          </select>
        </div>
        <!-- <div class="col-md-2"><label>Single/Double/PPP ?</label>
            <select class="form-control" [(ngModel)]="newPBSet" [disabled]="newPBPrint">
              <option>Single</option>
              <option>Two Prints</option>
              <option>Print Per Guest</option>
            </select>
          </div> -->
        <div class="col-md-2"><label>Layout?</label>
          <select class="form-control" [(ngModel)]="layoutPBx" name="layoutPB">
            <option>Classic Strip</option>
            <option>Landscape</option>
            <option>Portrait</option>
          </select>
        </div>
        <div class="col-md-2"><label>USB Stick?</label>
          <select class="form-control" [(ngModel)]="usbPBx" name="usbPB">
            <option>No</option>
            <option>Yes</option>
  
          </select>
        </div>
        <div class="col-md-2"><label>1-Year Online Hosting</label>
          <select class="form-control" [(ngModel)]="hostingPBx" name="hostingPB">
            <option>Included Free</option>
            <option>No Online</option>
  
          </select>
        </div>
        <div class="col-md-2"><label>Instant Digital?</label>
          <select class="form-control" [(ngModel)]="instantDigitalPBx" name="instantDigitalPB">
            <option>No</option>
            <option>Instant Email</option>
            <option>Instant SMS</option>
          </select>
        </div>
        <div class="col-md-2"><label>Guest Book?</label>
          <select class="form-control" [(ngModel)]="guestBookPBx" name="guestBookPB">
            <option>No</option>
            <option>Yes</option>
          </select>
        </div>
        <div class="col-md-2"><label>Green Screen?</label>
          <select class="form-control" [(ngModel)]="indoorPBx" name="indoorPB">
            <option>Indoor</option>
            <option>Outdoor</option>
          </select>
        </div>
        <div class="col-md-2"><label>Color or B/W Print?</label>
          <select class="form-control" [(ngModel)]="colorPBx" name="colorPB">
            <option>Color</option>
            <option>Black & White</option>
          </select>
        </div>
  
        <div class="col-md-2"><label>Cost:</label>
          <input class="form-control" [(ngModel)]="costPBx" name="costPB" type="number" value="5">
        </div>
  
        <div class="col-md-2 mt-2">
    <button class="btn btn-primary" (click)="addQuote()">ADD</button>
        </div>
  
      </div>
    </div>


  

  <!-- TABLE -->

  <div class="container card mt-2">
    <table class="table mt-2 mb-z table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Hour</th>
          <th scope="col">Props</th>
          <th scope="col">Backdrop</th>
          <th scope="col">Prints</th>
          <!-- <th scope="col">Set</th> -->
          <th scope="col">Layout</th>
          <th scope="col">USB</th>
          <th scope="col">Host</th>
          <th scope="col">Instant</th>
          <th scope="col">Guest Book</th>
          <th scope="col">Color</th>
          <th scope="col">IndoorOutdoor</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>

        <tr class=" align-items-center" *ngFor="let quote of quotesPB; index as i">
          <!-- <ul class="list-group mt-3"> -->
          <!-- <li class="list-group-item d-flex justify-content-between align-items-center" > -->
          <!-- <td>{{customer.fName}}</td>  -->

          <th scope="row">{{quote.hoursPB}}</th>
          <td>{{quote.propsPB}}</td>
          <td>{{quote.backdropPB}}</td>
          <td>{{quote.printsPB}}</td>
          <td>{{quote.layoutPB}}</td>
          <td>{{quote.usbPB}}</td>
          <td>{{quote.hostingPB}}</td>
          <td>{{quote.instantDigitalPB}}</td>
          <td>{{quote.guestBookPB}}</td>
          <td>{{quote.colorPB}}</td>
          <td>{{quote.indoorPB}}</td>
          <td><button class="btn btn-danger" type="button" (click)="deleteQuote(i)">DELETE</button></td>
          <!-- <button class="btn btn-primary" (click)="generatePDF2($event.target,i)">PDF</button> -->
          <!-- </li> -->
          <!-- </ul> -->
        </tr>

      </tbody>
    </table>
  </div>

  <div class="container card p-3 mt-3 col-md-12">

    <div class="row">
      <div class="col-md-4">
        <h2>Photo Booth Quote</h2>
        <!-- <button class="btn btn-primary m-2" (click)="updateQuote()">Update Quote</button> -->
        <h4>Total Hours: {{errorPB}}</h4>
        <h4>Total Upgrade Costs: {{upgradeCosts}}</h4>
       <h4>Cost of Props: {{errorPB}}</h4>
        <h4></h4>
        <h4>Total Cost: {{(costPerHour * hoursPBx + upgradeCosts) | currency}}</h4>
        <p>(Cost Per Hour: {{ ((costPerHour * hoursPBx + upgradeCosts) / hoursPBx | currency)}})</p>
        <button class="btn btn-primary m-2" type="button" (click)="calculateTotal()">Update Quote</button>
      </div>

      <div class="col-md-4">


        <img class="logo-head" src={{logo}}>

      </div>

      <div class="col-md-4">

        <dl>
          <dt>{{hoursPBx}} Hour Photo Booth with {{printCost}}</dt>
          <dd><span class="h6 ms-2">PROPS:</span>  {{propsPBx}} Props ({{propCost | currency}})</dd>
          <dd><span class="h6 ms-2">PROPS:</span> {{backdropPBx}} Backdrop ({{backdropCost | currency}})</dd>
          <!-- <dd> - {{newPBPrint}}</dd> -->
          <dd><span class="h6 ms-2">PROPS:</span>  {{layoutPBx}} with ({{layoutCost | currency}}) </dd>
          <dd><span class="h6 ms-2">PROPS:</span> {{printsPBx}} ({{printCost | currency}}) </dd>
          <dd><span class="h6 ms-2">PROPS:</span> USB Stick? {{usbPBx}} ({{usbCost | currency}}) </dd>
          <dd><span class="h6 ms-2">Hosting:</span> -> {{hostingPBx}} (Always Free) </dd>
          <dd></dd>
        </dl>
      </div>
    </div>

  </div>

  <table class="table mt-3">
    <thead class="thead-light">
      <tr>
        <th scope="col">Hours</th>
        <th scope="col">Props</th>
        <th scope="col">Backdrop</th>
        <th scope="col">Prints</th>
        <!-- <th scope="col">Set</th> -->
        <th scope="col">Layout</th>
        <th scope="col">USB</th>
        <th scope="col">Host</th>
        <th scope="col">Instant</th>
        <th scope="col">G-Book</th>
        <th scope="col">Green</th>
        <th scope="col">Color</th>
        <th scope="col">BOOKit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{hoursPBx}}</th>
        <td>{{propsPBx}}</td>
        <td>{{backdropPBx}}</td>
        <td>{{printsPBx}}</td>
        <!-- <td>{{newPBSet}}</td> -->
        <td>{{layoutPBx}}</td>
        <td>{{usbPBx}}</td>
        <td>{{hostingPBx}}</td>
        <td>{{instantDigitalPBx}}</td>
        <td>{{guestBookPBx}}</td>
        <td>{{errorPB}}</td>
        <td>{{colorPBx}}</td>
        <td>{{(costPerHour * hoursPBx + upgradeCosts) | currency}}</td>
      </tr>


    </tbody>
  </table>
  </div>
