<div class="container ">
 <img class="logo mt-5" src="images/funky.webp">

</div>

<div class="container ">
  <div class="card mt-3 p-3">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Create New Appoinment</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <input class="form-control" [(ngModel)]="newAppointmentTitle" placeholder="Appointment Type">
      </div>
      <div class="col-md-4">
        <input class="today" [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment Date">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" (click)="addAppointment()">ADD</button>
        </div>
    </div>
  </div>
  <ul class="list-group mt-3">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let appointment of appointments; index as i">
          
         
              
                
                {{appointment.id}} || {{appointment.title}} || {{appointment.date}}
          <button class="btn btn-danger" (click)="deleteAppointment(i)">DELETE</button>
            
      </li>
  </ul>
</div>






<div>
  <button (click)="generatePDF($event.target)" class="btn btn-primary m-5">Invoice</button>
  <button (click)="generatePDF($event.target)" class="btn btn-primary m-5">Generate Fart</button>
</div>